<section class="todoapp">
  <header class="header">
    <h1>Hey cman, Do It!</h1>
    <input class="new-todo" placeholder="What needs to be done?" autofocus="">
  </header>
  <section class="main">
    <ul class="todo-list">
    </ul>
  </section>
</section>

<script>
$(()=>{

  $.get('/tasks').success((data)=>{
    let htmlElement = '';

    $.each(data, (index, task)=>{
      let taskElement = '<li>' +
        '<div class="view">' +
          '<input class="toggle" type="checkbox">' +
            '<label>' +
            task.title +
          '</label>' +
        '</div>' +
      '</li>';

      htmlElement += taskElement;
    });
    $('.todo-list').html(htmlElement);
  });

});
</script>
