<section class="todoapp">
  <header class="header">
    <h1>Hey cman, Do It!</h1>
    <input class="new-todo" placeholder="What needs to be done?" autofocus="">
  </header>
  <section class="main">
    <ul class="todo-list">
    </ul>
  </section>
</section>

<script>
$(()=>{

  $.get('/tasks').success((data)=>{
    let htmlElement = '';

    $.each(data, (index, task)=>{
      let checkedStatus = task.done ? 'checked' : '';
      let doneClass = task.done ? 'complete' : 'incomplete';
      let taskElement = '<li>' +
        '<div class="view">' +
          `<input class="toggle" type="checkbox" data-id=${task.id} ${checkedStatus}>` +
            `<label class=${doneClass}>` +
            task.title +
          '</label>' +
        '</div>' +
      '</li>';

      htmlElement += taskElement;
    });
    $('.todo-list').html(htmlElement);

    $('.toggle').change((e)=>{
      let taskId = $(e.target).data('id');
      let doneValue = Boolean($(e.target).is(':checked'));
      $.ajax({
        url: '/tasks/' + taskId,
        type: 'PUT',
        data: {
          task: {
            done: doneValue
          }
        }
      });
    });

  });

});
</script>
